header {
    .logo_am {
        text-decoration: none;
        color: $color-primario;
        font-weight: 600;
        font-family: 'Playfair Display', serif;
        font-size: 25px;
    }
    .nav_bar_am {
        margin-top: 10px;
        margin-right: 5px;
    }

}

/*MOBILE*/
.trabajos {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: $minima;

    .job1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img {
            width: 350px;
            height: 250px;
            display: flex;
            justify-content: center;
            padding-top: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h1 {
            text-align: center;
            padding-top: 10px;
            font-weight: 100;
            width: auto;
            color: $color-secundario;
            font-size: 15px;
        }

        a {
            text-decoration: none;
            color: $color-secundario;
            transition: 0.5s;
            padding: 10px 20px 10px 20px;
        }

        a:hover {
            color: $color-primario;
            background-color: $color-secundario;
        }
       
    }

    .job2  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img {
            width: 350px;
            height: 250px;
            display: flex;
            justify-content: center;
            padding-top: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h1 {
            text-align: center;
            padding-top: 10px;
            font-weight: 100;
            width: auto;
            color: $color-secundario;
            font-size: 15px;
        }

        a {
            text-decoration: none;
            color: $color-secundario;
            transition: 0.5s;
            padding: 10px 20px 10px 20px;
        }

        a:hover {
            color: $color-primario;
            background-color: $color-secundario;
        }
       
    }

    .job3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img {
            width: 350px;
            height: 250px;
            display: flex;
            justify-content: center;
            padding-top: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h1 {
            text-align: center;
            padding-top: 10px;
            font-weight: 100;
            width: auto;
            color: $color-secundario;
            font-size: 15px;
        }

        a {
            text-decoration: none;
            color: $color-secundario;
            transition: 0.5s;
            padding: 10px 20px 10px 20px;
        }

        a:hover {
            color: $color-primario;
            background-color: $color-secundario;
        }
       
    }

    .job4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        .img {
            width: 350px;
            height: 250px;
            display: flex;
            justify-content: center;
            padding-top: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h1 {
            text-align: center;
            padding-top: 10px;
            font-weight: 100;
            width: auto;
            color: $color-secundario;
            font-size: 15px;
        }

        a {
            text-decoration: none;
            color: $color-secundario;
            transition: 0.5s;
            padding: 10px 20px 10px 20px;
        }

        a:hover {
            color: $color-primario;
            background-color: $color-secundario;
        }
        
    }
}

/*DESKTOP*/
@media (min-width: $desktop) {
    .trabajos {
        display: grid;
        grid-template-columns: 550px 550px;
        grid-template-rows: 450px 450px;
        padding-top: 30px;

        .job1 {
            a {
                margin-bottom: 10px;
            }
            .img {
                width: 500px;
                height: 350px;
            }
        }

        .job2 {
            a {
                margin-bottom: 10px;
            }
            .img {
                width: 500px;
                height: 350px;
            }
        }

        .job3 {
            margin-bottom: 30px;
            a {
                margin-bottom: 10px;
            }
            .img {
                width: 500px;
                height: 350px;
            }
        }

        .job4  {
            margin-bottom: 30px;
            a {
                margin-bottom: 10px;
            }
            .img {
                width: 500px;
                height: 350px;
            }
        }
    }
    
}
/*MEDIA MOD ESTILOS DE BS*/
@media (min-width: $tablet) {
    .nav_bar_am {
       flex-direction: row;
       gap: $media;
       font-size: 18px;
       margin-top: 18px;
       margin-right: 10px;
    }

    .logo_am {
        color: $color-primario;
        font-weight: 600;
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        text-decoration: none;
        margin-left: 12px;
        margin-top: 3px;  
    }
}


