* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: $color-primario;
}

header {
    background-color: $color-secundario;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $minima;
    }

    ul li a {
        color: $color-primario;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
    }

    .logo {
        color: $color-primario;
        font-weight: 600;
        font-family: 'Playfair Display', serif;
        font-size: 25px;
    }
}

@media (min-width: $tablet) {
    .nav_bar {
       flex-direction: row;
       gap: $media;
       font-size: 18px;
    }
}
