main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primario;

    .texto1_main {
        background-color: $color-primario;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        padding: 20px;
        width: 100%;
        h1 {
            font-weight: 300
        }
    }

    .texto2_main {
        @extend .texto1_main;
    }

    
    .img_main{
       margin: 0 auto;
       
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
     }
      
    }

    
}

