/*PALETA DE COLORES*/
$color-primario: #fefae0;
$color-secundario: #000814;

/*PANTALLAS*/
$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;

/*SEPARACIÓN ENTRE ELEMENTOS*/
$minima: 10px;
$media: 30px;
$maxima: 50px;


